<h3>Hello</h3>
<p class="lead">You were requested by {{student}} on the date {{requested_date | date}}</p>
<p>{{message_send}}</p>
<!-- Callout Panel -->
<p class="callout">
  Accept the booking  <a href="{{root_url}}/booking/teacher/{{ teacher_link }}">Click it! &raquo;</a>
</p><!-- /Callout Panel -->
